{# templates/registration/index.html.twig #} 
{% extends 'security.html.twig' %}

{% block title %}Register!{% endblock %}

{% block card %}
<div class="login-logo">
        <a href="{{ path('sonata_admin_dashboard') }}">
            <span>{{ 'label.security.login'|trans }}</span>
        </a>
    </div>
    <div class="login-box-body">
        {% block sonata_user_login_form %}
            {% block sonata_user_login_error %}
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            {% endblock %}
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            <p class="login-box-msg">{{ 'label.security.please_sign_in'|trans }}</p>
            {% block sonata_user_login_form %}
            {% block sonata_user_login_error %}
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            {% endblock %}
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            <p class="login-box-msg">{{ 'label.security.please_sign_in'|trans }}</p>
            {{ form_start(form) }}
          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.identity, {'attr': {'class': 'form-control', type: 'text', inputmode: 'numeric', pattern: '\d+'}}) }}
            </div>
          </div>
          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.email, {'attr': {'class': 'form-control', type: 'email'}}) }}
            </div>
          </div>
          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.password.first, {'attr': {'class':
              'form-control'}}) }}
            </div>
          </div>
          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.password.second, {'attr': {'class':
              'form-control'}}) }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-btn fa-user"></i> Register
              </button>
            </div>
          </div>
          {{ form_end(form) }}
    {% endblock %}
    </div>
</div>
{% endblock %}